---
---
<section id="about" class="py-20 bg-white">
  <div class="max-w-4xl mx-auto px-4">
    <h2 class="text-3xl font-bold mb-8">À propos de moi</h2>
    <div class="space-y-6 text-gray-600">
      <p>
        Je m'appelle ENOUHERAN Georis Tobi, développeur mobile spécialisé dans Flutter, avec 3 ans d'expérience dans le développement d'applications performantes et intuitives. En tant que freelance, j'ai collaboré sur des projets variés et innovants, maîtrisant les technologies modernes pour répondre efficacement aux besoins de mes clients.
      </p>
      <p>
        Je suis également développeur full-stack, ce qui me permet de concevoir des solutions complètes allant du back-end au front-end, en passant par des intégrations API complexes.
      </p>
    </div>

    <div class="mt-12">
      <h3 class="text-2xl font-bold mb-6">Formation académique</h3>
      <ul class="space-y-4 list-disc list-inside text-gray-600">
        <li>Baccalauréat série C obtenu avec la mention Très Bien – 1er du département du Littoral (Bénin)</li>
        <li>Licence en Informatique – Institut des Mathématiques et des Sciences Physiques (IMSP), Bénin</li>
      </ul>
    </div>
  </div>
</section>